name: Run Scripts
on: push

jobs:
  linux:
    name: Linux build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Chapter 1 - The beginning of the Scripting Journey
      run: 

    - name: Install packages
      run: npm install

    - name: Run build
